* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #FFF7ED;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF7ED;
  padding: 5px 15px;
  height: 15vh;
}

.home{
  display: flex;
  justify-content: center;
  background-image: url("/assets/image-outside-van.png");
  height: 75vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-content{
  display: flex;
  flex-direction: column;
  color: white;
  width: 80%;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.home-content > p{
  margin-bottom: 3%;
}

.home-footer{
  background-color: #252525;
  color: #AAAAAA;
  margin: 0;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img{
  width: 100%;
}

.about-content{
  padding: 30px 15px;
}

.explore-container{
  background-color: #FFCC8D;
  padding: 20px;
  border-radius: 5px;
  height: 25vh;
}

.explore-container > a{
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  background-color: #161616;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
}

.no-margin{
  margin: 0;
}

nav > h1{
  font-size: 25px;
  font-weight: 900;
}

.nav-link{
  text-decoration: none;
  padding: 5px;
  color: #4D4D4D;
}

.vanlife{
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}

.van-tile a{
    color: #161616;
    text-decoration: none; 
}

.vans-container{
  padding: 5% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}


.filters{
  padding: 0 10%;
}

.filter-btn{
  height: 2.5rem;
  margin-right: .7rem;
  border-radius: 1rem;
  padding: 0 1rem;
  border: none;
  background-color: #FFEAD0;
  color: black;
  text-shadow: 1px white;
}

.selected{
  background-color: orange;
}

.clearFilter{
  border: none;
  background-color: transparent;
  color: black;
  text-decoration: underline;
}

.van-img{
  width: 100%;
  border-radius: 10px;
}

.van-info{
  display: flex;
  margin-top: 5px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.van-name{
  font-size: 15px;
  margin: 0;
}

.van-price{
  display: block;
  font-weight: bold;
  font-size: 15px;
  color: #161616;
}

.van-pricing{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtext{
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.block{
  display: block;
}

.simple{
  background-color: #E17654;
}

.rugged{
  background-color: #115E59;
}

.luxury{
  background-color: #161616;
}

.van-type-button{
  text-align: center;
  color: white;
  border-radius: 5px;
  width: 50%;
  padding: 10px;
}

.van-detail{
  padding: 1rem;
}

.linkbutton{
  display: block;
  text-decoration: none;
  color: white;
  background-color: #FF8C38;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  width: 100%;
}

.backButton{
  text-decoration: none;
  color: black;
}

.backButton span{
  text-decoration: underline;
}

.listed-van{
  display: flex;
  margin: 20px;
  padding: 20px;
  background-color: white;
  align-items: center;
  text-decoration: none;
  color: black;
}

.listed-van img{
  width: 30%;
  border-radius: 10px;
  margin-right: 10px;
}

.vanName{
  font-size: 1.5rem;
}

.hostVanDetailContainer{
  background-color: white;
  margin: 20px;
  padding: 15px;
}

.vanDetailed{
  display: flex;
}

.hostVanDetailImage{
  width: 40%;
  border-radius: 0;
}

.nav-link-updated-style{
  padding: 0px;
  margin-right: 10px;
}

.margin{
  margin: 25px 0;
}

.detailVanContainer{
  margin: 3rem .1rem 2rem .1rem;
}
